<%= render 'shared/header' %>

<p class="notice"><%= notice %></p>

<h1 class="text-center m-0">Известные люди витебщины</h1>

<% if can? :manage, @people %>
  <div class="container mt-15 mb-20">
    <div class="row">
      <div class="col text-center">
        <%= link_to "Новая статья о человеке", new_person_path, class: 'btn btn-teal' %>
      </div>
    </div>
  </div>
<% end %>
<div class="container mt-15 mb-20">

  <div class="row">
    <div class="col text-center">
      <%= link_to "На главную", root_path, class: 'btn btn-teal' %>
    </div>
  </div>
</div>

<div class="container mt-15 mb-20">
  <div class="row">
    <div class="col text-center">
      <%= link_to 'Показать художников', { controller: 'people', action: 'index', :tag_id => 1 }, class: 'btn btn-teal'  %>
      <%= link_to 'Показать поэтов', { controller: 'people', action: 'index', :tag_id => 2 }, class: 'btn btn-teal'  %>
      <%= link_to 'Показать писателей', { controller: 'people', action: 'index', :tag_id => 3 }, class: 'btn btn-teal'  %>
    </div>
  </div>
</div>

<div id="people" class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 mx-20 mt-0">
  <% @people.each do |person| %>
    <div class="col">
      <div class="card">
        <%= image_tag person.photo, width: '40%', height: '20%', class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= person.name %></h5>
          <p class="card-text"><%= truncate strip_tags(person.bio), length: 100 %></p>
          <%= link_to 'Посмотреть', person_path(person), class: 'btn btn-teal-200' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container d-flex justify-content-center mt-30">
  <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>

