<%= render 'shared/header' %>

<p class="notice"><%= notice %></p>

<div class="container d-flex flex-column align-items-center card-cont blue-index-text">
  <h1 class="text-center mt-15"><%= @person.name %></h1>
  <%= image_tag @person.photo.variant(resize_to_fill: [800, 600]), class: 'img-fluid img-thumbnail', height: 200 %>
  <p class="mt-15 text-justify"><%= sanitize @person.bio, tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br) %></p>
  <div>
    <% if can? :manage, @person %>
      <div class="container mt-10">
        <div class="row">
          <div class="col text-center">
            <%= link_to t('.edit_this_article'), edit_person_path(@person), class: 'btn btn-light-blue' %>
            <%= link_to t('.delete_this_article'), @person, data: { 'turbo-method': :delete, 'turbo-confirm': t('.delete_confirmation') }, class: 'btn btn-danger' %>
            <% unless @person.tag_id == 2 %>
              <%= link_to t('.artworks.show_artworks'), person_artworks_path(@person), class: 'btn btn-blue-600' %>
              <%= link_to t('.artworks.add_artwork'), new_person_artwork_path(@person), class: 'btn btn-blue-700'  %>
            <% end %>
            <%= link_to t('.back'), people_path, class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container mt-10 mb-20">
        <div class="row">
          <div class="col text-center">
            <% unless @person.tag_id == 2 || @person.artworks.blank? %>
              <%= link_to t('.artworks.show_artworks'), person_artworks_path(@person), class: 'btn btn-blue' %>
            <% end %>
            <%= link_to t('.back'), people_path, class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
