<%= render 'shared/header' %>

<p class="notice"><%= notice %></p>

<div class="container d-flex flex-column align-items-center card-cont blue-index-text">
  <h1 class="text-center mt-15"><%= @person.name %></h1>
  <%= image_tag @person.photo, class: 'img-fluid img-thumbnail', height: 200 %>
  <p class="mt-15 text-justify"><%= sanitize @person.bio, tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br) %></p>
  <div>
    <% if can? :manage, @person %>
      <div class="container mt-10">
        <div class="row">
          <div class="col text-center">
            <%= link_to "Отредактировать статью", edit_person_path(@person), class: 'btn btn-light-blue' %>
            <%= link_to "Удалить эту статью", @person, data: { 'turbo-method': :delete, 'turbo-confirm': 'Вы уверены?' }, class: 'btn btn-danger' %>

            <%= link_to 'Показать работы', person_artworks_path(@person), class: 'btn btn-blue-600' %>
            <%= link_to 'Добавить работу', new_person_artwork_path(@person), class: 'btn btn-blue-700'  %>
            <%= link_to "Назад", people_path, class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container mt-10 mb-20">
        <div class="row">
          <div class="col text-center">
            <%= link_to 'Показать работы', person_artworks_path(@person), class: 'btn btn-blue' %>
            <%= link_to "Назад", people_path, class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

