<%= form_with(model: artwork, url: [person, artwork], data: { turbo: false }, class: 'form-width-avg') do |form| %>
  <% if artwork.errors.any? %>
    <div style="color: red">
      <h2><%= t('.errors') %></h2>
      <ul>
        <% artwork.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% all_locales.each do |locale| %>
    <div class="form-group row mb-15">
      <% title = "title_#{Mobility.normalize_locale(locale)}" %>
      <%= form.label title %>
      <%= form.text_field title, class: 'form-control' %>
    </div>

    <div class="form-group row mb-15">
      <% description = "description_#{Mobility.normalize_locale(locale)}" %>
      <%= form.label description %>
      <%= form.text_area description, rows: 10, class: 'form-control' %>
    </div>
  <% end %>

  <div class="form-group row mb-15">
    <%= form.label :photo %>
    <%= form.file_field :photo, class: 'form-control-file' %>
  </div>

  <div class="container mt-10 mb-15">
    <div class="row">
      <div class="col text-center">
        <%= form.submit text, class: 'btn btn-blue mt-10' %>
      </div>
    </div>
  </div>
<% end %>
