<%= render 'shared/header' %>

<p class="notice"><%= notice %></p>

<div class="container d-flex flex-column align-items-center card-cont blue-index-text">
  <h1 class="text-center"><%= @artwork.title %></h1>
  <% unless @artwork.photo.blank? %>
    <%= image_tag @artwork.photo, class: 'img-fluid img-thumbnail' %>
  <% end %>
  <p class="mt-15 text-justify"><%= sanitize @artwork.description, tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br) %></p>
  <div>
    <% if can? :manage, @artwork %>
      <div class="container mt-10 mb-20">
        <div class="row">
          <div class="col text-center">
            <%= link_to "Отредактировать работу", edit_person_artwork_path(@person, @artwork), class: 'btn btn-light-blue' %>
            <%= link_to "Удалить работу", person_artwork_path(@person, @artwork), data: { 'turbo-method': :delete, 'turbo-confirm': 'Вы уверены?' }, class: 'btn btn-danger' %>

            <%= link_to "Назад", person_artworks_path(@person), class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container mt-10 mb-20">
        <div class="row">
          <div class="col text-center">
            <%= link_to "Вернуться на страницу автора", person_path(@person), class: 'btn btn-blue' %>
            <%= link_to 'Назад', person_artworks_path(@person), class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

