<%= render 'shared/header' %>
<div
  class="container d-flex flex-column justify-content-center align-items-center body-width center-cont blue-index-text"
  >
  <div class="container-fluid text-justify">
    <h1 class="text-center"><%= t('.title') %></h1>
    <hr />
    <div class="container">
      <p>
        <%= t('.first_paragraph') %>
      </p>
      <p>
        <%= t('.second_paragraph') %>
      </p>
      <p>
        <%= t('.third_paragraph') %>
      </p>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= image_tag("carousel1.webp", alt: t('.old_photo_alt'), class: "d-block w-100") %>
        </div>
        <div class="carousel-item">
          <%= image_tag("carousel2.jpg", alt: t('.old_photo_alt'), class: "d-block w-100" ) %>
        </div>
        <div class="carousel-item">
          <%= image_tag("carousel3.jpg", alt: t('.old_photo_alt'), class: "d-block w-100") %>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><%= t('.prev_carousel') %></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden"><%= t('.next_carousel') %></span>
      </button>
    </div>
    <h5 class="text-center mt-15"><%= t('.old_photos_alt') %></h5>
    <hr />
    <blockquote class="blockquote">
      <p>
        <%= t('.quote_text') %>
      </p>
      <footer class="blockquote-footer text-end">
        <%= t('.quote_author') %>
      </footer>
    </blockquote>
  </div>
</div>
