<%= form_with(model: building, data: { turbo: false }) do |form| %>
  <% if building.errors.any? %>
    <div style="color: red">
      <h2>Ошибки:</h2>

      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div> 

  <div class="form-group row">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="form-group row mb-10">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>
  
  <%= form.submit 'Создать статью' %>
  </div>
<% end %>
