<%= form_with(model: building, data: { turbo: false }, class: 'form-width-avg') do |form| %>
  <% if building.errors.any? %>
    <div style="color: red">
      <h2>Ошибки:</h2>
      <ul>
        <% building.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="my-30">
    <div class="form-group row mb-15">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div> 

    <div class="form-group row mb-15">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="form-group row mb-15">
      <%= form.label :photo %>
      <%= form.file_field :photo %>
    </div>

    <%= form.submit 'Создать статью', class: 'btn btn-primary mt-10' %>
  </fieldset>
<% end %>
