<%= render 'shared/header' %>

<p class="notice"><%= notice %></p>

<h1 class="text-center m-0">Значимые места города</h1>

<% if can? :manage, @buildings %>
  <div class="container mt-15 mb-20">
    <div class="row">
      <div class="col text-center">
        <%= link_to "Новая статья о месте", new_building_path, class: 'btn btn-blue' %>
      </div>
    </div>
  </div>
<% end %>

<div class="container mt-15 mb-20">
  <div class="row">
    <div class="col text-center">
      <%= link_to "На главную", root_path, class: 'btn btn-blue' %>
    </div>
  </div>
</div>

<div id="buildings" class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4 mx-20 mt-0">
  <% @buildings.each do |building| %>
    <div class="col">
      <div class="card">
        <%= image_tag building.photo, class: 'card-img-top' %>
        <div class="card-body">
          <h5 class="card-title"><%= building.name %></h5>
          <p class="card-text"><%= truncate strip_tags(building.description), length: 100 %></p>
          <%= link_to 'Посмотреть', building_path(building), class: 'btn btn-light-blue' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="container d-flex justify-content-center mt-30">
  <%== render partial: 'pagy/bootstrap_nav', locals: {pagy: @pagy} %>
</div>

