<%= render 'shared/header' %>

<p style="color: green"><%= notice %></p>

<h1>Здания</h1>

<div id="buildings">
  <% @buildings.each do |building| %>
    <%= render building %>
    <p>
      <%= building.name %>
      <%= link_to "Показать эту статью", building %>
    </p>
  <% end %>
</div>

<%= link_to "Новая статья о здании", new_building_path %>
