<%= render 'shared/header' %>

<p style="color: green"><%= notice %></p>

<div class="container d-flex flex-column align-items-center">
  <h1><%= @building.name %></h1>
  <%= image_tag @building.photo, class: 'img-fluid' %>
  <p class="mt-15"><%= @building.description %></p>
  <div>
    <% if can? :manage, @building %>
      <div class="container mt-10">
        <div class="row">
          <div class="col text-center">
            <%= link_to "Отредактировать статью", edit_building_path(@building), class: 'btn btn-info' %>
            <%= link_to "Удалить эту статью", @building, data: { 'turbo-method': :delete, 'turbo-confirm': 'Вы уверены?' }, class: 'btn btn-danger' %>

            <%= link_to "Вернуться на список зданий", buildings_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container mt-10">
        <div class="row">
          <div class="col text-center">
            <%= link_to "Вернуться на список зданий", buildings_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

