<%= render 'shared/header' %>

<p class="notice"><%= notice %></p>

<div class="container d-flex flex-column align-items-center card-cont blue-index-text">
  <h1 class="text-center mt-15"><%= @building.name %></h1>
  <%= image_tag @building.photo, class: 'img-fluid img-thumbnail' %>
  <p class="mt-15 text-justify"><%= sanitize @building.description, tags: %w(strong em a code pre h2 h3 p blockquote ul ol li br) %></p>
  <div>
    <% if can? :manage, @building %>
      <div class="container mt-10">
        <div class="row">
          <div class="col text-center">
            <%= link_to "Отредактировать статью", edit_building_path(@building), class: 'btn btn-light-blue' %>
            <%= link_to "Удалить эту статью", @building, data: { 'turbo-method': :delete, 'turbo-confirm': 'Вы уверены?' }, class: 'btn btn-danger' %>

            <%= link_to "Назад", buildings_path, class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% else %>
      <div class="container mt-10 mb-20">
        <div class="row">
          <div class="col text-center">
            <%= link_to "Назад", buildings_path, class: 'btn btn-outline-dark' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

